<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>
	<div class="form-control" align="center" >
	<form action="authenticate" method="post">
		<label for="username">username</label><input type="text"
			placeholder="Enter username" name="username" required> </br></br> 
		<label for="password">password</label><input type="password"
			placeholder="Enter password" name="password" required> </br></br>

		<button type="submit">Login</button>
		<input type="button" onclick="location.href='/registerUser';"
			value="Register">

	</form>
	</div>
</body>
</html>